<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper"  style="margin: 0 2em;">
            <span class="brand-logo"><i class="material-icons">ondemand_video</i>Movie App</span>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a [routerLink]="['/movies']">Movies</a></li>
              <li><a [routerLink]="['/actors']">Actors</a></li>
              <li><a [routerLink]="['/tvshows']">TV Shows</a></li>
            </ul>
        </div>
    </nav>
</div>
