<span>source: {{ source | async }}</span>
<br/>
<span>interval: {{ interval | async }}</span>
<br/>
<span>num: {{ num }}</span>
<br/>
<br/>
<span>ownSource: {{ ownSource | async }}</span>
<br/>
<span>ownInterval: {{ ownInterval | async }}</span>
<br/>
