<div>
  <h1>Add movies to the collection</h1>
  <a class="waves-effect waves-teal btn-flat" [routerLink]="['/movies']"><i class="material-icons left">arrow_back</i>Cancel</a>
  <media-switch (toggled)="setPrivateCollection($event)" onText="Private" offText="Public" [default]="isPrivateDefault"></media-switch>
  <media-search (searched)="searched($event)"></media-search>

  <span *ngIf="!hasSearched">Please enter a search query to search for a movie on the internet.</span>
  <span *ngIf="hasSearched && results.length === 0">Your search query did not yield any results.</span>
  <span *ngIf="searchError">An error occurred while searching the movie. Please try again later.</span>
  <span *ngIf="addError">An error occurred while adding the movie. Please try again later.</span>

  <div class="row">
    <media-movie *ngFor="let movie of results" [movie]="movie" (action)="add(+$event.onlineId)" actionText="Add to collection"></media-movie>
  </div>

</div>
