<h1>Movies</h1>
<span>Total movies found: {{movies.length}}</span>
<media-switch (toggled)="setPrivateCollection($event)" onText="Private" offText="Public" [default]="isPrivateDefault"></media-switch>
<media-search (searched)="searched($event)"></media-search>

<div class="row">
<!--  <span *ngIf="movies.length === 0">No movies in the collection yet!</span>-->
<!--  <span *ngIf="allMovies.length !== 0 && movies.length === 0">Your search query did not match any movies!</span>-->
  <span *ngIf="error">An error occurred while loading the movies. Please try again later!</span>
  <media-movie *ngFor="let movie of movies" [movie]="movie" (action)="viewDetails($event)" actionText="View Details"></media-movie>
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red" [routerLink]="['/movies/create']">
    <i class="large material-icons">add</i>
  </a>
</div>



