<div class="detail-page">
  <a class="waves-effect waves-teal btn-flat" [routerLink]="['/tvshows']"><i class="material-icons left">arrow_back</i>Go back</a>
  <span *ngIf="loadingError">An error occurred while loading the movie. Please try again later!</span>
  <span *ngIf="deleteError">An error occurred while trying to delete the movie. Please try again later!</span>
  <div class="movie-detail card" *ngIf="tvShow">
    <img [src]="tvShow.poster" [alt]="tvShow.title"/>
    <div class="info">
      <h1>{{tvShow.title}}</h1>
      <p>{{tvShow.year}}</p>
      <p>{{tvShow.overview}}</p>
    </div>
  </div>
</div>
<div class="fixed-action-btn">
  <button class="btn-floating btn-large red" (click)="delete()">
    <i class="large material-icons">delete</i>
  </button>
</div>
