.detail-page {
  margin-top: 1rem;

  .movie-detail {
    display: flex;

    .info {
      margin-left: 2rem;

      h1 {
        font-size: 3rem;
        line-height: 1.5em;
        margin-top: 2rem;
        MARGIN-BOTTOM: 1rem;
      }
    }
  }
}
