<div class="actors-overview">
  <div class="actors-overview-index">
    <media-actors-index></media-actors-index>
  </div>
  <div class="actors-overview-other">
    <router-outlet></router-outlet>
  </div>
</div>
