<ul class="collection with-header">
  <li class="collection-header actors-header"><h4>Actors</h4><a [routerLink]="['/actors/create']" class="btn addbtn"><i class="material-icons left">add</i>New Actor</a></li>
  <li class="collection-item" *ngFor="let actor of actors">
    <a [routerLink]="['/actors', actor.id]">{{actor.name}}</a>
  </li>
</ul>
