<h1>TV Shows</h1>
<span>Total tv shows found: {{tvShows.length}}</span>
<media-search (searched)="searched($event)"></media-search>

<div class="row">
  <span *ngIf="error">An error occurred while loading the movies. Please try again later!</span>
  <media-tvshow *ngFor="let tvShow of tvShows" [tvshow]="tvShow" (action)="viewDetails($event)" actionText="View Details"></media-tvshow>
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red" [routerLink]="['/tvshows/search']">
    <i class="large material-icons">add</i>
  </a>
</div>


