<div>
  <form #actorForm="ngForm" (ngSubmit)="save()">
    <h1>Create a new actor</h1>
    <div class="input-field">
      <label for="name">Name:</label>
      <input #name="ngModel" type="text" id="name" name="name" ngModel required minlength="2" [class.invalid]="name.dirty && name.touched && name.errors"/>
      <span *ngIf="name.errors?.minlength" class="helper-text" data-error="Name must be at least 2 characters long."></span>
    </div>
    <div class="input-field">
      <label for="imagePath">Image url:</label>
      <input #imagePath="ngModel" type="text" id="imagePath" name="imagePath" ngModel required minlength="2" [class.invalid]="imagePath.dirty && imagePath.touched && imagePath.errors"/>
      <span *ngIf="imagePath.errors" class="helper-text" data-error="Image url must be at least 2 characters long."></span>
    </div>
    <div class="input-field">
      <label for="desc">Description:</label>
      <input #desc="ngModel" type="text" id="desc" name="desc" ngModel required minlength="2" [class.invalid]="desc.dirty && desc.touched && desc.errors"/>
<!--      <span *ngIf="desc.errors?.minlength" class="helper-text" data-error="Description must be at least 2 characters long. Current length: {{desc.errors?.minlength.actualLength}}"></span>-->
      <span *ngIf="desc.errors?.minlength" class="helper-text" [attr.data-error]="'Description must be at least 2 characters long. Current length: ' + desc.errors?.minlength.actualLength"></span>
    </div>
    <a class="waves-effect waves-teal btn-flat" [routerLink]="['/actors']"><i class="material-icons left">arrow_back</i>Cancel</a>
    <button class="waves-effect waves-teal btn" type="submit" [disabled]="!actorForm.valid">Add<i class="material-icons right">done</i></button>
  </form>
</div>
