<div>
  <h1>Add tv series to the collection</h1>
  <a class="waves-effect waves-teal btn-flat" [routerLink]="['/tvshows']"><i class="material-icons left">arrow_back</i>Cancel</a>
  <media-search (searched)="searched($event)"></media-search>

  <span *ngIf="!hasSearched">Please enter a search query to search for a tv show on the internet.</span>
  <span *ngIf="hasSearched && results.length === 0">Your search query did not yield any results.</span>
  <span *ngIf="searchError">An error occurred while searching the tv show. Please try again later.</span>
  <span *ngIf="addError">An error occurred while adding the tv show. Please try again later.</span>

  <div class="row">
    <media-tvshow *ngFor="let tvshow of results" [tvshow]="tvshow" (action)="add(+$event.onlineId)" actionText="Add to collection"></media-tvshow>
  </div>

</div>
