<div>
  <div class="card horizontal">
    <div class="card-image">
      <img [src]="tvshow.poster" [alt]="tvshow.title"/>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <span class="card-title">{{tvshow.title}}</span>
      </div>
      <div class="card-action">
        <button class="btn" (click)="action.emit(tvshow)">{{actionText}}</button>
      </div>
    </div>
  </div>
</div>
